.card-body a {
  word-break: break-all;
}

.articleHeadline {
  line-height: 1.5;
}

.jumbotron {
  background-color: #20315a;
  color: #fff;
}

.btn-blue,
.bg-blue {
  background-color: #3b538c !important;
  color: #fff !important;
}

.btn-blue:hover {
  background-color: #2b4480 !important;
}

nav {
  margin-top: -20px;
  margin-bottom: 40px;
}

.footer {
  background-color: #20315a;
  height: 32px;
}

div.content {
  min-height: calc(100vh - 52px);
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  h1 {
    font-size: 3rem;
    font-weight: 400;
  }
  nav {
    margin-top: -40px;
    margin-bottom: 40px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  h1 {
    font-size: 4rem;
    font-weight: 400;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
